@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: var(--tlo-url);/* https://www.pexels.com/photo/medical-stethoscope-placed-on-white-background-4386464/ */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;

    font-family: 'Roboto Slab', serif;
    color: var(--color);
    overflow: hidden;
}

.all{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 96vw;
    grid-template-rows: 1fr;
    grid-template-areas: "guzik main";
    align-items: center;
    justify-items: center;
}

.main{
    grid-area: main;
    width: 95%;
    height: 95%;
    background-color: var(--tlo-jasne);
    border-radius: 50px;
    backdrop-filter: blur(20px);
    box-shadow: 15px 10px 4px rgba(0, 0, 0, 0.1);
    /*filter: blur(10px);*/

    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "card  side";
    column-gap: 20px;
    row-gap: 10px;

    
    overflow: hidden;
    overflow-y: auto;

    /*SCROLL MOZILLA*/
    scrollbar-color: var(--pomaranczowy) var(--zolty);
    scrollbar-width: thin;
}

.main ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    grid-area: card;
    margin: 2%;
    padding: 0;
}

.main .side{
    height: 100%;
    border-radius: 50px;
    background-color: var(--side);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: side;

    padding: 1vw;
}

.main .side h1{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    background: var(--zolty);
    border-radius: 10px;
    font-size: 3em;
}

.main ul .card{
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    width: auto;
    height: 100%;
    min-height: 300px;
    padding: 30px;
    background: var(--zolty);

    font-size: 1.5em;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.main ul .card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pomaranczowy);
    border-radius: 50px;
    transition:  0.5s ease-in;
}

.main ul :nth-child(1) .card::before{
    background-repeat: no-repeat;
    background-size: cover;
}
.main ul :nth-child(2) .card::before{
    background-repeat: no-repeat;
    background-size: cover;
}
.main ul :nth-child(3) .card::before{
    background-repeat: no-repeat;
    background-size: cover;
}
.main ul :nth-child(4) .card::before{
    background-repeat: no-repeat;
    background-size: cover;
}

.main ul .card:hover:before{/* <============= Przejście pseudo before*/
    transform: scale(0);
    transform-origin: 0 0;
    opacity: 0;
}

.main li .card img{
    width: 100%;
    min-width: 150px;
    height: auto;
    border-radius: 10px;
}

.main li .card div{
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
}

.main li .card div:hover{
    background-color: var(--pomaranczowy);
}

.main .side svg{
    max-width: 100%;
}
@media (max-width: 500px){
    .main ul .card{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .main{
        width: 98%;
        height: 98%;
    }
}
@media (max-width: 1100px){
    .main{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas: "side"
        "card";
        overflow-y: scroll;
        font-size: small;
        text-align: justify;
    }
    .main ul{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
    }
    .main .side{
        padding: 20px;
    }
    .main ul .card{
        max-width: 100%;
        height: auto;
        grid-template-rows: auto;
    }
}

@media (max-width: 1700px){
    .all{
        grid-template-columns: 1fr;
        grid-template-rows: 100px calc(100vh-100px);
        grid-template-areas: "guzik""main";
    }
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "side""card";
        overflow-y: scroll;
    }
    svg{
        min-height:auto ;
        min-width: auto;
    }
}

@media (min-width: 3000px){
    body{
        font-size: 32px;
    }
}

/* scroll */

::-webkit-scrollbar{
    width: 0.8em;
}

::-webkit-scrollbar-thumb{
    background: var(--pomaranczowy);
    border: 0.3em solid var(--scrol-tlo);
    border-radius: 100vw;
    transition: 2s ease-out;
}

::-webkit-scrollbar-thumb:hover{
    border: 0.2em solid var(--scrol-tlo);
    border-radius: 100vw;
}

::-webkit-scrollbar-track{
    background: var(--scrol-tlo);
    border-radius: 200vw;
    margin-block: 1em;
    transition: 0.2s;
}


/* Animacja*/

#kursor{
    animation: ruch 5s infinite ease-out;
}

#kafel1{
    position: absolute;
    transform-box: fill-box;
    animation: kafel1 5s infinite;
    transform-origin: 5% 5%;
    opacity: 1;
}

#spod{
    transform-origin: center;
    transform-box: fill-box;
    animation: spod 5s infinite;
}

@keyframes ruch{
    0%{
        transform: translateX(120px) translateY(130px);
    }
    20%{
        transform: translateX(0) translateY(0);
    }

}

@keyframes kafel1{
    0%{
        transform: scale(100%);
    }
    10%{
        transform: scale(100%);
    }
    20%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes spod{
    0%{
        transform: scale(100%);
    }
    24%{
        transform: scale(100%);
    }
    28%{
        transform: scale(90%);
    }
    32%{
        transform: scale(90%);
    }
    36%{
        transform: scale(100%);
    }
}


/*      Dark mode       */

:root{
    --tlo-jasne: rgba(255,255,255,0.4);
    --zolty: rgba(255, 165, 0, 1);
    --scrol-tlo: rgba(255, 165, 0, 1);
    --pomaranczowy:rgba(255, 69, 0,1);
    --side:rgba(255, 255, 255, 0.5);
    --kafel:rgb(221, 221, 221);
    --color:#000;
    --tlo-url: url(../obrazy/tlo-01.svg);
    
    --tlo-c: rgba(0,0,0,0.4);
    --zolty-c:rgba(148, 96, 0, 1);
    --scrol-tlo-c: rgb(182, 118, 0);
    --pomaranczowy-c:rgb(180, 48, 0);
    --kafel-c:rgb(165, 165, 165);
    --color-c:#ddd;
    --side-c:rgba(0, 0, 0, 0.5);
    --tlo-c-url: url(../obrazy/tlo-c.svg);
}

.darkmode{
    --tlo-jasne:var(--tlo-c);
    --zolty:var(--side-c);
    --kafel:var(--kafel-c);
    --color:var(--color-c);
    --scrol-tlo:var(--scrol-tlo-c);
    --pomaranczowy:var(--zolty-c);
    --side: var(--side-c);
    --tlo-url: var(--tlo-c-url);
}

.all button{
    grid-area: guzik;
    width: 50px;
    height: 50px;
    direction: none;
    border:none;
    background-color: var(--tlo-jasne);
    border-radius: 50%;
    position: relative;
    margin:10px;
}